.container {
    margin-top: 80px;
    justify-content: space-between;
}

.titleFiled {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #2B2A4C;
    /* background: #2B2A4C; */
    align-items: center;
    text-align: center;
    /* color: #6C63FF; */
    /* background-color: #6C63FF; */
}

.img {
    width: 200px;
    height: 400px;
    border: 5px solid #2B2A4C;
    outline: 10px;
    border-radius: 10px;
    /* filter: grayscale(100%); */
}

.img:hover {
    filter: none;
}

.gallery {
    padding: 30px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 3;
    display: flex;
    justify-content: center;
}

.galleryContainer {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease-in-out, filter 0.3s;
}

.galleryContainer:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.h1 {
    position: absolute;
    bottom: 5%;
    color: #fff;
    text-align: center;
}