.fullContainer {
    margin-top: 150px;
    display: flex;
    /* flex-direction: row; */
    gap: 40px;
    justify-content: center;
}

.container {
    padding-top: 50px;
    color: #6C63FF;
}


/* .title {
    margin-top: 20px;
} */

.titles {
    color: red;
    background-color: #6C63FF;
}


/* .h1 {
    margin-bottom: 20px;
} */

.smallContainer {
    flex: 1;
}

.smallContainer1 {
    flex: 1;
}

.img {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.img:hover {
    transform: scale(1.1);
}

.btn {
    margin-top: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: #6C63FF;
    border: none;
    border-radius: 10px;
    width: max-content;
}

.desc {
    margin-top: 100px;
    gap: 20px;
}