* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    /* color: #2B2A4C; */
    /* opacity: 0.5; */
}

.light {
    background-color: #e5e5f7;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #2B2A4C;
}

.dark {
    background-color: #13131c;
    background-image: linear-gradient(to top, #000000 0%, #212222 100%);
    color: white;
}

.theme {
    transition: 1s all ease;
}

.container {
    max-width: 1366px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}