* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: black;
    background-color: #e5e5f7;
    /* opacity: 0.5; */
    background-color: #e5e5f7;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /* opacity: 0.9;
    background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply; */
}

p,
a {
    font-family: "sans-serif";
    text-align: center;
    font-family: "Rubik", sans-serif;
}

p {
    color: #fff;
    font-weight: 400;
}

a {
    color: violet;
    font-weight: 500;
}

.canvas {
    position: relative;
    width: 512px;
    height: 512px;
    margin: auto;
    border-radius: 23px;
    overflow: hidden;
    background: linear-gradient( -90deg, #e3e5e8 0%, #ebe4e3 10%, #e4e1e0 25%, #e5cee9 45%, #e1b2db 60%, #e5a2d4 75%, #e282bb 85%, #e8398e 100%);
}

.canvas::before,
.canvas::after,
.canvas>.circles,
.canvas>.circles::before,
.canvas>.circles::after {
    filter: blur(75px);
}

.canvas::before,
.canvas::after {
    position: absolute;
    content: "";
    width: 390px;
    height: 390px;
    border-radius: 100%;
}

.canvas::before {
    background: #ffecf5;
    top: -195px;
    left: -195px;
}

.canvas::after {
    background: #86e1ef;
    right: -195px;
    top: 50%;
    transform: translateY(-50%);
}

.canvas>.circles,
.canvas>.circles::before,
.canvas>.circles::after {
    border-radius: 100%;
    position: absolute;
}

.canvas>.circles::before,
.canvas>.circles::after {
    content: "";
    width: 140px;
    height: 140px;
    top: 50%;
    transform: translateY(-50%);
}

.canvas>.circles {
    width: 230px;
    height: 230px;
    background: #ffc285;
    bottom: -60px;
    left: 75px;
}

.canvas>.circles::before {
    background: #8600ff;
    left: -40%;
}

.canvas>.circles::after {
    background: #ff0000;
    right: -20%;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1366px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}