* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* 
h1,
h3,
h4,
h2,
p,
label {
    transition: none !important;
} */

a {
    color: inherit;
    text-decoration: none;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    /* color: #2B2A4C; */
    /* opacity: 0.5; */
    font-family: "Arial", sans-serif;
}


/* ::-webkit-scrollbar {
    width: 0;
} */


/* ::-webkit-scrollbar-thumb {
    width: 
} */

.theme-light,
.theme-dark {
    transition: 0.2s;
    overflow-y: auto;
}

.theme-light {
    background-color: #e5e5f7;
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    color: #2B2A4C;
}

.theme-dark {
    background-color: #13131c;
    /* background-image: linear-gradient(to top, #000000 0%, #212222 100%); */
    color: white;
}

.container {
    max-width: 1366px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}